.footer {
  .has-background {
    padding: 44px 0 46px;
  }

  .social-links {
    a {
      display: inline-block;
      position: relative;
      transition: opacity 0.2s ease;

      &:not(:last-child) {
        margin-right: 12px;
      }

      &:nth-child(1) {
        @include sprite($twitter);
      }

      &:nth-child(2) {
        @include sprite($facebook);
        top: 2px;
      }

      &:nth-child(3) {
        @include sprite($behance);
        top: -1px;
        left: 2px;
      }

      &:hover {
        opacity: 0.3;
        transition: opacity 0.2s ease;
      }
    }
  }

  .copyright {
    font-family: Arial,sans-serif;
    color: #5c5c5c;
    margin-top: 10px;
    letter-spacing: 1.8px;
  }

  .top-btn {
    display: block;
    width: 44px;
    height: 39px;
    background: #1a2631;
    position: relative;
    transition: 0.2s ease;
    margin-top: 5px;

    &:before {
      content: '';
      @include sprite($arrow);
      @include position(absolute, 0 0 0 0);
      margin: auto;
    }

    &:hover {
      opacity: 0.5;
      transition: 0.2s ease;
    }
  }
}
